<mat-card class="card-content">
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
        <form class="login-form">
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput>
                    <mat-error>Please enter a valid first name</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput>
                    <mat-error>Please enter a valid last name</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput>
                    <mat-error>Please enter a valid email address</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Mobile No.</mat-label>
                    <input type="number" matInput>
                    <mat-error>Please enter a valid mobile no.</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput></textarea>
                    <mat-error>Please enter a valid address</mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary">Sign Up</button>
        </form>
    </mat-card-content>
</mat-card>