<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleMenu(isExpand = !isExpand)">
        <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/images/logo.png" alt="Online Bazzar">
    <span class="spacer"></span>
    <span>

    </span>
    <button mat-button [matMenuTriggerFor]="dropDownMenu">
        <mat-icon>person</mat-icon>
        Sumit Sonawane
        <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #dropDownMenu="matMenu">
        <button mat-menu-item>My Account</button>
        <button mat-menu-item>Logout</button>
    </mat-menu>
</mat-toolbar>