<!-- Header -->
<app-header></app-header>
<!--/ Header -->

<div class="wrapper">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!--/ Sidebar -->

    <!-- Main Content -->
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <!--/ Main Content -->
</div>