::ng-deep {
    .wrapper {
        width: 100%;
        height: calc(100% - 64px);
        display: flex;
        flex-direction: row;
    }

    .container {
        width: 100%;
        height: 100%;
        padding: 20px 30px;
        background: #f5f5f5;
        .page-title {
            color: #000;
        }
    }

    .card-content {
        height: 100%;
    }
}
