<h1 class="page-title">Products</h1>
<div class="product-grid">
    <div class="product-col" *ngFor="let product of productList">
        <mat-card class="product-card">
            <img mat-card-image [src]="product.ProductImage" [alt]="product.ProductName" height="280px">
            <mat-card-title>{{product.ProductName}}</mat-card-title>
            <mat-card-content>{{product.ProductDesc}}</mat-card-content>
            <mat-card-actions>
                <span class="price">₹{{product.ProductPrice}}</span>
                <button mat-flat-button color="primary">Buy Now</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>