::ng-deep {
    .product-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -10px;
        .product-col {
            flex: 1;
            padding: 0 10px;
        }
    }
    .product-card {
        mat-card-title {
            font-size: 16px;
            color: #3f51b5;
        }
        mat-card-actions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 !important;
            .price {
                font-size: 16px;
                font-weight: 500;
                color: #000;
            }
        }
    }
}
