<!-- <div>
    <label>Name</label>
    <input type="text" #name />
</div>
<div>
    <label>Email Id</label>
    <input type="email" #email />
</div>
<div>
    <label>City</label>
    <input type="text" #city />
</div>
<div>
    <label>Contact No.</label>
    <input type="number" #contact />
</div>
<div>
    <button (click)="sendData(name.value, email.value, city.value, contact.value)">Submit</button>
</div>


<p>{{nameText}}</p>
<p>{{emailText}}</p>
<p>{{cityText}}</p>
<p>{{contactText}}</p> -->

<!-- <div>
    <label>Username</label>
    <input type="text" #user />
</div>
<div>
    <label>Password</label>
    <input type="password" #password />
</div>
<div>
    <button (click)="sendData(user.value, password.value)">Submit</button>
</div> -->

<div class="login-wrapper">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Welcome</mat-card-title>
            <mat-card-subtitle>Login with Online Bazzar</mat-card-subtitle>
            <img mat-card-image src="../../../assets/images/login-logo.png" alt="Online Bazzar" width="200"
                height="auto">
        </mat-card-header>
        <mat-card-content>
            <form class="login-form">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput>
                        <mat-error>Please enter a valid email address</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput>
                        <mat-hint align="end">Min limit 6 characters</mat-hint>
                        <mat-error>Please enter a valid password</mat-error>
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary">Login</button>
            </form>
        </mat-card-content>
        <mat-card-actions>Need an account?
            <button mat-flat-button routerLink="/sign-up" routerLinkActive="active">Sign Up</button>
        </mat-card-actions>
    </mat-card>
</div>