::ng-deep {
    .login-wrapper {
        width: 100%;
        height: 100%;
        background: url(../../../assets/images/login-bg.jpg) center no-repeat;
        background-size: cover;
        position: relative;
        padding: 20px;
        .login-card {
            width: 350px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            mat-card-header {
                flex-direction: column;
                .mat-card-header-text {
                    text-align: center;
                    mat-card-title {
                        font-size: 24px;
                        margin-bottom: 15px;
                    }
                }
                .mat-card-image {
                    width: 200px;
                    height: auto;
                    margin: 0 auto 20px;
                }
            }
            .login-form {
                mat-form-field {
                    width: 100%;
                }
                .mat-raised-button {
                    width: 100%;
                    height: 50px;
                    text-transform: uppercase;
                    margin: 20px 0;
                }
            }
            .mat-card-actions {
                margin: 0;
                padding: 0;
                text-align: center;
            }
        }
    }
}
