<div class="sidebar" [ngClass]="isExpand ? 'collapse' : 'expand'">
    <mat-nav-list>
        <mat-list-item><button mat-flat-button [routerLink]="['/home']" routerLinkActive="active">Home</button>
        </mat-list-item>
        <mat-list-item><button mat-flat-button>About Us</button></mat-list-item>
        <mat-list-item><button mat-flat-button [routerLink]="['/products']" routerLinkActive="active">Products</button>
        </mat-list-item>
        <mat-list-item><button mat-flat-button [routerLink]="['/login']" routerLinkActive="active">Login</button></mat-list-item>
        <mat-list-item><button mat-flat-button>Contact Us</button></mat-list-item>
    </mat-nav-list>
</div>