::ng-deep {
    .sidebar {
        width: 280px;
        height: 100%;
        background: #fff;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        position: relative;
        z-index: 1;
        transition: width 0.5s linear;
        &.collapse {
            width: 0;
            overflow: hidden;
        }
        .mat-list-item-content {
            border-bottom: 1px solid #ddd;
            padding: 0 !important;
            .mat-flat-button {
                width: 100%;
                height: 45px;
                display: block;
                text-align: left;
                border-radius: 0;
                &.active {
                    background: #3f51b5;
                    color: #fff;
                }
            }
        }
    }
}
